:host {
    display: block;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: auto;
    padding: 1px 5px;
    position: relative;

    min-width: 100px;
    min-height: 100px;
}

:host ::content hierarchy-item > #content > hierarchy-item {
    margin-left: 12px;
}

:host[focused] ::content hierarchy-item[selected] > #bar {
    background-color: #059;
}
