:host {
    display: block;
    box-sizing: border-box;

    position: relative;

    min-width: 100px;
    min-height: 100px;
}

#content {
    padding: 1px 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.highlight {
    display: none;

    position: absolute;
    border: 2px solid #c7722c;
    box-sizing: border-box;

    pointer-events: none;
}

.insert {
    display: none;

    position: absolute;
    border: 1px solid #0f0;
    box-sizing: border-box;

    pointer-events: none;
}

:host ::content hierarchy-item > #content > hierarchy-item {
    margin-left: 12px;
}

:host[focused] ::content hierarchy-item[selected] > #bar {
    background-color: #059;
}
